<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="create-credential">
    <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/credentials}" method="POST">
                        <input type="hidden" name="credentialId" id="credential-id">
                        <div class="form-group">
                            <label for="credential-url" class="col-form-label">URL</label>
                            <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                        </div>
                        <div class="form-group">
                            <label for="credential-username" class="col-form-label">Username</label>
                            <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <label for="credential-password" class="col-form-label">Password</label>
                            <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                        </div>
                        <button id="credentialSubmit" type="submit" class="d-none"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


